@import url(../../../index.css);


.col__stats {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
}

.col__average {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featuredPower {
    color: var(--yellow);
}

.iconColor {
    color: var(--yellow);
}

.row__stats {
    background: #f9eac3;
    border-radius: 7px;
    padding: 8px;
}

.stats-title {
    color: #f9eac3;
    margin: 0 auto 1rem auto;
}

.subtitles {
    font-size: large;
}