@import url(../../index.css);


/*My navbar*/

.myNavbar {
    display: flex;
    justify-content: space-between;
    box-shadow: -5px 5px 16px #000;
    position: relative;
}

#searcher {
    width: 30rem;
}

/*My Cards*/

.card__container {
    width: 16rem;
    height: 37rem;
    background: #f9eac3;
    border: 1px solid black;
    border-radius: .5em;
    box-shadow: -5px 5px 16px #000;
    margin: 1em 0;

}

.myImg {
    object-fit: cover;
}

.row__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #00000091;
    border-radius: 1em;
    padding: 2rem;
    margin: 2em;
}

.myProgressBar {
    margin-bottom: 0.5rem;
    border: 1px solid #000;
}

.myButtons {
    box-shadow: -1px 1px 3px #0006;
    color: #fff;
}

.buttons__container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.team-stats__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #000000d3;
    border-radius: 1em;
    padding: 2rem;
    margin: 2em;
}

@media (max-width: 900px){
    #searcher {
        width: 20rem;
    }
}

@media (max-width: 680px){
    #searcher {
        width: 15rem;
    }
    .nav-title {
        font-size: inherit;
    }
}

@media (max-width: 580px){
    #searcher {
        width: 15rem;
        margin-left: 3rem;
    }
    .nav-title {
        display: none;
    }
}

@media (max-width: 480px){
    #searcher {
        width: 13rem;
    }
    .nav-title {
        display: none;
    }
}