.detail__container {
    background: #f9eac3;
    border: 1px solid black;
    border-radius: .5em;
    box-shadow: -5px 5px 16px #000;
    padding: 3rem 1rem 3rem 3rem;
    margin: 5rem 0;
}

.info__container {
    display: flex;
    flex-direction: column;
}

.info-flex {
    display: flex;
    flex-direction: row;
}