@import url("../../index.css");

.myContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myForm {
  border-top: 1px solid #ffffff;
  padding-top: 0.5rem;
}

#myButton {
  margin-top: 2rem;
  border-radius: 27px;
}

#myButton:active {
  box-shadow: 3px 4px #04040470;
  transform: translateY(2px);
}

.form__container {
  width: 40%;
  height: 50%;
  background: #131212d3;
  padding: 2rem;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  box-shadow: -6px 6px 20px;
}

.form__label {
  color: #fff;
}

.form-title {
  color: #fff;
  font-size: xxx-large;
  align-self: center;
}

.form__input {
  border-radius: 20px;
  box-shadow: inset 8px 8px 8px #cde9e4, inset -8px -8px 6px #b6a3a3;
}
